name: Build & Release Windows ZIP

# Trigger on push of tags like v1.2.3
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build_windows:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      # Check out your repo
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            submodules: recursive
            fetch-depth: 0

      # In windows use $env:GITHUB_ENV and in ubuntu $GITHUB_ENV
      - name: Extract tag name
        run: echo "TAG_NAME=${{ github.ref_name }}" >> $env:GITHUB_ENV

      - name: Print tag
        run: echo "${{ env.TAG_NAME }}"

      # Configure & build
      - name: Configure with CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DVERSION="${{ env.TAG_NAME}}"

      - name: Build
        run: cmake --build build --config Release

      # Package with CPack
      - name: Create ZIP package
        run: cmake --build build --config Release --target package

      # Create / update GitHub Release
      - name: Create GitHub Release
        id: create_release
        uses: taiki-e/create-gh-release-action@v1
        with:
          tag: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      # Upload the ZIP asset
      - name: Upload ZIP asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build/*.zip
          asset_name: REGIO-${{ github.ref }}-win64.zip
          asset_content_type: application/zip