name: Build & Release Windows ZIP

# Trigger on push of tags like v1.2.3
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build_windows:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      # Check out your repo
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            submodules: recursive
            fetch-depth: 0

      # In windows use $env:GITHUB_ENV and in ubuntu $GITHUB_ENV
      - name: Extract tag name
        run: echo "TAG_NAME=${{ github.ref_name }}" >> $env:GITHUB_ENV

      - name: Print tag
        run: echo "${{ env.TAG_NAME }}"

      # Configure & build
      - name: Configure with CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DVERSION="${{ env.TAG_NAME}}"

      - name: Build
        run: cmake --build build --config Release

      # Package with CPack
      - name: Create ZIP package
        run: cmake --build build --config Release --target package

      # Create and upload release
      - name: Creates a release and uploads attachments
        run: |
          gh release create "${{ github.ref_name}}" build/REGIO-${{ github.ref_name }}-win64.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
